/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px 50px;
    background-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(8, 8, 8, 0.05);
}
.navbar .logo{
    display: flex;
    font-weight: bolder;
    font-family: poppins;
    font-size: 36px;
}
.navbar .logo .firstlogo{
    color: #603813 ;
}
.navbar .logo .secondlogo{
    color: #FCB040;
}
.navbar .centernav{
    font-size: 20px;
    font-family: poppins;
}
.navbar .sidebutton{
    display: flex;
    font-size: 20px;
}
.navbar .sidebutton .firstbutton{
    background-color: #FFF;
    margin: 0px 10px;
    padding: 5px 10px; 
}
.navbar .sidebutton .firstbutton i{
    text-decoration: none;
    color: #FCB040;
    font-weight: bolder;
}
/* Menu */
.card{
    background-color: #262626;;
    border-radius: 20px;
    color: white;
    font-family: poppins;
    margin: 20px 10px;
    height: 380px;
    text-align: center;
    margin-top: 0;
}
.card img{
    width: 350px;
    height: 250px;
    border-radius: 20px 20px 0 0;
}
.cafedes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.card .cafedes .firstdes{
    text-align: left;
}
.card .cafedes .firstdes .cafename{
    font-size: 24px;
}
.card .cafedes .seconddes{
    background-color: #FCB040;
    width: 80px;
    height: 30px;
    color: white;
    border-radius: 10px;
    padding-top: 5px ;
    font-weight: bold;
}
.card .cafedes .seconddes a{
   text-decoration: none;
   color: white;
}
/* SECTION PAYMENT */
.container {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
    width: 100%;
    height: 80vh;
}
/* STRUK */
.struk{
    margin-right: 100px;
    width: 60%;
}
.struk table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    
}
.struk table th{
    border-bottom: 3px solid;
    font-size: 20px;
}
.struk table td{
    border-bottom: 1px solid;
    font-size: 18px;
    text-align: center;
    padding: 10px 0px;
}
.struk .confirmpay{
    display: flex;
    justify-content: flex-end;
}
.struk .confirmpay div{
    margin: 0px 5px;
    height: 25px;
    width: 100px;
    text-align: center;
    padding-top: 5px;
    border: 1px solid #FCB040;
    border-radius: 5px;
}
.struk .confirmpay div:nth-child(2){
    background-color: #FCB040;

}
.struk .confirmpay div:nth-child(1) a{
    text-decoration: none;
    color: #FCB040;
}
.struk .confirmpay div:nth-child(2) a{
    text-decoration: none;
    color: #FFFFFF;
}

/* Payment Methode */
.paymentmethode {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-family: poppins;
    font-weight: bold;
}
.paymentmethode .payopsi {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}
.paymentmethode .payopsi div{
    margin: 0px 3px;
    width: 250px;
    height: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}
.paymentmethode .payopsi div:nth-child(1){
    background-color: #FFFFFF;
    color: #603813;  
}
.paymentmethode .payopsi div:nth-child(2){
    background-color: #603813;
    color: #FFFFFF;  
}
.paymentmethode .paybank{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
}
.paymentmethode .paybank div img{
    width: 50px;
}

.paymentmethode input[type=text]{
    width: 90%;
    margin: 10px 0px;
    padding: 5px 15px;
    border: 2px solid #A8A8A8;
    border-radius: 5px;
    color: #C5C5C5;
    font-size: 16px;
    font-family: poppins;

}
.paymentmethode input[type="submit"]{
    background-color: #FCB040;
    font-size: 16px;
    font-family: poppins;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    
}

/* Footer */
footer {
    text-align: center;
    background-color: #FCB040;
    bottom: 0;
    padding: 5px 0;
    color: #F2F2F2;
}

